<a href="https://colab.research.google.com/github/SPraveeen/python_google_colab_study/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
bread=['wheat','multigrain','maida']
toppings=['jam','cheese','egg']
for i in bread:
  for j in toppings:
    print(i,j)

wheat jam
wheat cheese
wheat egg
multigrain jam
multigrain cheese
multigrain egg
maida jam
maida cheese
maida egg

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
for i in range(3):
  for j in range(3):
    print('*',end=' ')
  print()

* * *
* * *
* * *

In [ ]:
n=3
for j in range(n):
  for i in range(n):
    print('*',end='')
  print()
  n=n-1

***
**
*

In [ ]:
for i in range(3):
  for j in range(i,3): #i==0 0,1,2 ;; i==1 1,2 ; i==2 2
    print('*',end='')
  print()

***
**
*

In [ ]:
#gcd find of two numbers
first_num=int(input("Enter the number: "))
second_num=int(input("Enter the second number: "))
x=min(first_num,second_num)

for i in range(x,0,-1):
  if first_num%i==0 and second_num%i==0:
    print(i)
    break

Enter the number: 16
Enter the second number: 24
8

In [ ]:
#lcm find of two numbers
first_num=int(input("Enter the number: "))
second_num=int(input("Enter the second number: "))
x=max(first_num,second_num)
while True:
  if(x%first_num==0 and x%second_num==0):
    print(x)
    break
  x=x+1

Enter the number: 6
Enter the second number: 8
24

**Functions**

In [ ]:
def guest_checklist():
  print("Dust the room")
  print("Make Tea")

In [ ]:
guest_checklist()

Dust the room
Make Tea

In [ ]:
def make_tea():
  print("Hey! I'm making tea")

In [ ]:
for i in range(5):
  make_tea()

Hey! I'm making tea
Hey! I'm making tea
Hey! I'm making tea
Hey! I'm making tea
Hey! I'm making tea

In [ ]:
#square function
def sqr(n):
  print(n**2)

In [ ]:
sqr(5)

25

In [ ]:
#squareroot
def sq_rt(n):
  print(n**0.5)

In [ ]:
sq_rt(9)

3.0

In [ ]:
##two inputs
def area_rectangle(l,b):
  print(l*b)

In [ ]:
help(area_rectangle)

Help on function area_rectangle in module __main__:

area_rectangle(l, b)
    ##two inputs

In [ ]:
area_rectangle(4,3)

12

In [ ]:
def greet(name):
  print(f'Hello, {name}')

In [ ]:
greet("Sanjay")

Hello, Sanjay

In [ ]:
def randon():
  print("Hello before return")
  return 1
  print("Hello after return")

In [ ]:
randon()

Hello before return

1

In [ ]:
def xyz(a,b,c=None):
  print(a,b,c)#here c is not complusoru

In [ ]:
xyz(1,2)

1 2 None

In [ ]:
xyz(1,2,3)

1 2 3

In [ ]:
def func1(l,b=4):
  print(l*b)

In [ ]:
func1(10)

40

In [ ]:
func1(10,5)

50

In [ ]:
def func1(l=10,b):
  print(l*b)

SyntaxError: non-default argument follows default argument (<ipython-input-9-f70122237c4c>, line 1)

In [ ]:
#global variables
def random():
  ba=50
  print("It's random ",ba)

In [ ]:
random()

It's random  50

In [ ]:
ba=10
def random():
  ba=50
  print("It's random",ba)
random()

print("it's outside",ba)

It's random 50
it's outside 10

In [ ]:
a=10
def randomz():
  global a
  a=20

print(a)

10