<a href="https://colab.research.google.com/github/SPraveeen/python_google_colab_study/blob/main/Functional_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Agenda**
1.   `Functional Programming`
2.   `Lambda Function`
3.   `Exmples`
4.   `Higher order functions`
5.   `Decorators`

In [1]:
#lambda function
#check whether number is positive or not
def check_number(a):
  if (a>=0):
    return 'Positive number'
  else :
    return 'Negative Number'

In [4]:
print(check_number(-5))

Negative Number

In [5]:
def func(n):
  return True if n>=0 else False

In [6]:
func(-100)

False

In [7]:
#syntax -> for lambda function ( lambda i/p : o/p) --> lambda -> anonyms function
find_square=lambda s : s**2
find_square(5)

25

In [8]:
(lambda x : x**2)(10)

100

In [9]:
#l.sort update values
l=[1,3,4,5,2]
l.sort()

In [10]:
l

[1, 2, 3, 4, 5]

In [11]:
#sorted doesn't store automataically we ned to assign it to a variable
x=[1,4,3,2,5]
sorted(x)
x

[1, 4, 3, 2, 5]

In [12]:
x=[1,4,3,2,5]
a=sorted(x)
a

[1, 2, 3, 4, 5]

![image.png]()

coordinates :[(1,-1),(-1,2),(3,5)]
sorted (coordinates)

In [13]:
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]
x=sorted(coordinates)
print(x)

[(-1, 2), (1, -1), (2, 1), (3, 5), (5, 3), (7, 7)]

In [14]:
#it sorted based on histogram
#sorted on x order #need to sort on y
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [15]:
#sorted based on y
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]

def get_y(tup):
  return tup[1]

sorted(coordinates,key=get_y)

[(1, -1), (2, 1), (-1, 2), (5, 3), (3, 5), (7, 7)]

In [17]:
#in lambda function
#lambda tup :tup[1]
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]
sorted(coordinates,key=lambda tup:tup[1])

[(1, -1), (2, 1), (-1, 2), (5, 3), (3, 5), (7, 7)]

In [23]:
student=[{'name':'A','marks':50},
         {'name':'B','marks':45},
         {'name':'C','marks':56},
         {'name':'D','marks':25}]


sorted(student,key=lambda dict:dict['marks'], reverse=False)

[{'name': 'D', 'marks': 25},
 {'name': 'B', 'marks': 45},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 56}]

In [24]:
sorted(student,key=lambda dic:dic['marks'], reverse=True)

[{'name': 'C', 'marks': 56},
 {'name': 'A', 'marks': 50},
 {'name': 'B', 'marks': 45},
 {'name': 'D', 'marks': 25}]