<a href="https://colab.research.google.com/github/SPraveeen/python_google_colab_study/blob/main/Functional_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Agenda**
1.   `Functional Programming`
2.   `Lambda Function`
3.   `Exmples`
4.   `Higher order functions`
5.   `Decorators`

In [ ]:
#lambda function
#check whether number is positive or not
def check_number(a):
  if (a>=0):
    return 'Positive number'
  else :
    return 'Negative Number'

In [ ]:
print(check_number(-5))

Negative Number

In [ ]:
def func(n):
  return True if n>=0 else False

In [ ]:
func(-100)

False

In [ ]:
#syntax -> for lambda function ( lambda i/p : o/p) --> lambda -> anonyms function
find_square=lambda s : s**2
find_square(5)

25

In [ ]:
(lambda x : x**2)(10)

100

In [ ]:
#l.sort update values
l=[1,3,4,5,2]
l.sort()

In [ ]:
l

[1, 2, 3, 4, 5]

In [ ]:
#sorted doesn't store automataically we ned to assign it to a variable
x=[1,4,3,2,5]
sorted(x)
x

[1, 4, 3, 2, 5]

In [ ]:
x=[1,4,3,2,5]
a=sorted(x)
a

[1, 2, 3, 4, 5]

![image.png]()

coordinates :[(1,-1),(-1,2),(3,5)]
sorted (coordinates)

In [ ]:
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]
x=sorted(coordinates)
print(x)

[(-1, 2), (1, -1), (2, 1), (3, 5), (5, 3), (7, 7)]

In [ ]:
#it sorted based on histogram
#sorted on x order #need to sort on y
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
#sorted based on y
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]

def get_y(tup):
  return tup[1]

sorted(coordinates,key=get_y)

[(1, -1), (2, 1), (-1, 2), (5, 3), (3, 5), (7, 7)]

In [ ]:
#in lambda function
#lambda tup :tup[1]
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]
sorted(coordinates,key=lambda tup:tup[1])

[(1, -1), (2, 1), (-1, 2), (5, 3), (3, 5), (7, 7)]

In [ ]:
student=[{'name':'A','marks':50},
         {'name':'B','marks':45},
         {'name':'C','marks':56},
         {'name':'D','marks':25}]


sorted(student,key=lambda dict:dict['marks'], reverse=False)

[{'name': 'D', 'marks': 25},
 {'name': 'B', 'marks': 45},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 56}]

In [ ]:
sorted(student,key=lambda dic:dic['marks'], reverse=True)

[{'name': 'C', 'marks': 56},
 {'name': 'A', 'marks': 50},
 {'name': 'B', 'marks': 45},
 {'name': 'D', 'marks': 25}]

In [ ]:
#higher order function
#function which returns another funtion
def gen_exp(n):
  def exp(x):
    return x**n
  return exp
exp_5=gen_exp(5)
exp_5(2)

32

In [ ]:
coordinates =[(1,-1),(-1,2),(3,5),(5,3),(7,7),(2,1)]
a=sorted(coordinates)

In [ ]:
a

[(-1, 2), (1, -1), (2, 1), (3, 5), (5, 3), (7, 7)]

In [ ]:
#sort by y
def get_y(tup):
  return tup[1]

get_y((1,-1))

-1

In [ ]:
def get_y(tup):
  return tup[1]

sorted(coordinates,key=get_y)

[(1, -1), (2, 1), (-1, 2), (5, 3), (3, 5), (7, 7)]

In [ ]:
sorted(coordinates,key=lambda tup:tup[1])

[(1, -1), (2, 1), (-1, 2), (5, 3), (3, 5), (7, 7)]

In [ ]:
student=[{'name':'A','marks':50},
         {'name':'B','marks':45},
         {'name':'C','marks':56},
         {'name':'D','marks':25}]

In [ ]:
sorted(student,key=lambda d: d.get('marks'),reverse=True)

[{'name': 'C', 'marks': 56},
 {'name': 'A', 'marks': 50},
 {'name': 'B', 'marks': 45},
 {'name': 'D', 'marks': 25}]

In [ ]:
def get_marks(d):
  return d['marks']

sorted(student,key=get_marks,reverse=True)

[{'name': 'C', 'marks': 56},
 {'name': 'A', 'marks': 50},
 {'name': 'B', 'marks': 45},
 {'name': 'D', 'marks': 25}]

In [ ]:
def create_beautify(func):
  def line_building():
    print('-'* 50)
    func()
    print('-'*50)
    return func

In [ ]:
bff=create_beautify('Hello')

In [ ]:
bff()

TypeError: 'NoneType' object is not callable

**MAP**

---


**FILTER**


---


**REDUCE**

---


**ZIP**

---


**ARGS and KWARGS**

In [ ]:
# /what is functional programming
# State of data is unchanged
x=5

x=3*x #15
x+=1 ##16

print(x) #here original value of x changed

16

In [ ]:
# not to change base / mutation(overwriting) should not happen
x=5

y=3*x
z=y+1

print(z)
# drawbacks-> storing too much variable, wstage of menmoreis

16

In [ ]:
# best way
x=5

def mutation_1(numberr):
  numberr = numberr *2
  numberr += 1

  return numberr

y=mutation_1(x)
print(y)
print(x)
# here original value is not chnaged and also only one extra variable there so no extra memmory issue

11
5

In [40]:
# map function -> used to perfom function on every element of an iterable
# syntax -> map(function, *iterable)
b=[1,2,3,4,5]
# operation : square each element of list and generate new list
a=[]
for i in b:
  a.append(i**2)

print(a)

[1, 4, 9, 16, 25]

In [ ]:
#using map function
map(lambda x : x**2,a)

In [ ]:
range(0,100)

range(0, 100)

In [ ]:
# to see actual output need to do type casting
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(map(lambda x:x**2,a)) #typecast map to list

[1, 16, 81, 256, 625]

Convert given heights from alist to t-shirt sizes


*   h<150 -> s
*   h>=150 and h<180 -> M
*   h>=180 -> L

In [ ]:
def complex_logic(h):
  if h<150:
    return 's'
  elif h>=150 and h<180:
    return 'm'
  else:
    return 'L'

In [ ]:
complex_logic(190)

'L'

In [ ]:
heights=[144,154,167,189,170,190,30,130]

In [ ]:
list(map(complex_logic,heights))

['s', 'm', 'm', 'L', 'm', 'L', 's', 's']

In [ ]:
A=[1,0,0,1,0,1,0,1,1,0,1]
B=[0,1,0,1,1,0,1,0,1,0,1]

# c=[true,false,true]
# if both a and b have same element, then c= true, else c=false

In [ ]:
c=list(map(lambda x,y:x==y, A,B))
print(c)

[False, False, True, True, False, False, False, False, True, True, True]

**Filter Function**

In [ ]:
# filter out elements from iterable on the basis of some condition
# input=[1,2,3,4] o/p=[2,4]
a=[1,2,3,4]
b=[]

for i in a:
  if i%2 ==0:
    b.append(i)

print(b)

[2, 4]

Only gives the filter answers/values

In [ ]:
list(filter(lambda x:x%2==0,a))

[2, 4]

**zip function**


*   Generate list of tuples from iterables

In [ ]:
# it converts to tuple of input values
a=[1,2,3]
b=['a','b','c','d','e']
c=[2.3,3.2,4.1,3.2]

d=list(zip(a,b,c))
d

[(1, 'a', 2.3), (2, 'b', 3.2), (3, 'c', 4.1)]

In [43]:
for x,y,z in d:
  print (x,y,z)

1 a 2.3
2 b 3.2
3 c 4.1

**Reduce function**


---



*   Reduce the iterable to a single value