<a href="https://colab.research.google.com/github/SPraveeen/python_google_colab_study/blob/main/IIT_Lectures_solve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello","world")

hello world

In [ ]:
print("hel",,,"eorld")

SyntaxError: invalid syntax (<ipython-input-2-e2a5baefc9ef>, line 1)

In [ ]:
print("hello","world","earth")

hello world earth

In [ ]:
print("hello",12,24.5)

hello 12 24.5

In [ ]:
print('hello')

hello

In [ ]:
print['hello']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
print("hello")
# print{"hello"}
# print["hello"]
print<"hello">

SyntaxError: invalid syntax (<ipython-input-9-95e1b5041892>, line 4)

9) Write a python code that has the below output as it is
```
it's sunday
he is "The President"

In [ ]:
print("It's sunday, he is \"The President\"")

It's sunday, he is "The President"

10) Correct the mistake so that the output is as below
```
i'm from sathy
my name is "Gokul"
i like 'red' color
```

CODE :
```
print('I'm from sathy`)
print('my name is "Gokul')
print('i like 'red' color')
```

In [ ]:
print("I'm from sathy")
print('my name is "Gokul"')
print('i like \'red\' color')

I'm from sathy
my name is "Gokul"
i like 'red' color

9) Take an input from command line as "GOKUL" and store it in a variable 'a' , what will be the output?
```
LINE-1
print(a*2)
```

In [ ]:
n=input()
print(n*2)

gokuk
gokukgokuk

10) Replace LINE-1 and LINE-2, so that we take input from user,  a number as input form user and we should print the square of the number as output.
```
LINE-1
LINE-2
```

In [ ]:
n=int(input())
print(n**2)

2
4

1. what wil be the value of n at the end of execution
    ```
    n=str(input())
    print("Which placre are you in?")
    n=str(input())
    print("Hello",n,"How is the weather in ,n )
    ```

In [ ]:
n=str(input())
print("Which placre are you in?")
n=str(input())
print(f'"Hello",{n},"How is the weather in ,{n}' )

gokul
Which placre are you in?
sathy
"Hello",sathy,"How is the weather in ,sathy

1. Write a python code that takes side of a cube as input and prints volume of the cube as output.

In [ ]:
a=int(input())
volume_cube=a**3
print(volume_cube)

10
1000

write a python code that takes radius of circle as input and prints the area of the circle

In [ ]:
radius=int(input())
a_circle=3.14*radius**2
print(a_circle)

23
1661.0600000000002

1. what will be the output of below code?
    ```
    l=[10,20,30]
    print(l[3])
    print(l[2])
    print(l[1])
    print(l[0])
    ```

In [ ]:

l=[10,20,30]
# print(l[3])
print(l[2])
print(l[1])
print(l[0])

30
20
10

In [ ]:
print(l[3])

IndexError: list index out of range

In [ ]:
l=[10,20,30]
print(type(l))
print(l[2])
print(type(l[2]))

<class 'list'>
30
<class 'int'>

In [ ]:
x=True
y=False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [ ]:
a=int(5.7)
b=int('10')
c=int("212")
d=float("1.2")
# e=int("1.2")
print(a)
print(b)
print(c)
print(d)
# print(e)

5
10
212
1.2

In [ ]:
a=5.7
b=6
c=0
d="abc"
e="False"
f=""
g=-10
h=0
i=0.0
j="0"
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print(bool(f))
print(bool(g))
print(bool(h))
print(bool(i))
print(bool(j))

True
True
False
True
True
False
True
False
False
True

In [ ]:
a="gokul"
b="india"
c=a*b
print(c)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
a=[1,2,3]
b=[4,5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a=11
b=15
c=a/b
print(c)

0.7333333333333333

In [ ]:
l1=[7/3,7//3,7%3,7**3]
print(l1)

[2.3333333333333335, 2, 1, 343]

 Accept a positive integer as input and
 print True if it is a perfect square and False otherwise.
For example, if the input is 25 , then you must print True . If the input is 15 , then you must print False
doubt

In [ ]:
n=int(input())
# 25
sqrt_num=n**0.5
# 5
print(sqrt_num**2==n)
# 25 == 25

5
False

  Accept a two digit number as input and print the sum of its digits. What about a three digit number

In [ ]:
n=int(input())
print(n//10 + n%10)

25
7

What about a three digit number

In [ ]:
n=int(input())
print(n//100+((n//10)%10)+n%10)

123
6

In [ ]:
n=int(input())
m=int(input())
print(0<n<m<10)
print(m-n==1)

8
9
True
True

Accept the score of a student in an exam as input.
Print True if the student has scored between 90 and 100 ,
both endpoints included, and False otherwise. You can assume that the score is an integer.

In [ ]:
marks=int(input())
print(90<=marks<=100)

90
True

g(x) is the smallest integer greater than or equal to the real number x.
For example,  g(1.2) is  2 and  g(4.8) is
5. Accept a positive real number
x as input and print
g(x)

In [ ]:
m=float(input())
real_no=int(-((-m)//1))
print(real_no)

1.2
2

In [ ]:
a=-10.8
b=10.8
print(a//1)
print(b//1)

-11.0
10.0

f(x) is the greatest integer less than or equal to the real number x. For example,
𝑓(1.2)  is 1 and  f(4.8) is 4. Accept a positive real number  x as input and print f(x).
Use the previous question as a hint.

In [ ]:
m=float(input())
print(int(m))

4.8
4

Use Python as a calculator and find the square root of the number:12345678987654321.

In [ ]:
a=12345678987654321
sq_rt=a**0.5
print(sq_rt)

111111111.0

Find the number of digits in 7 power 100
  . Treat this as a programming question and not as a mathematical question.
 You should be able to do this using the concepts that you have learned so far.

In [ ]:
a=7**100
b=str(a)
print(len(b))

85

Accept a word as input.
Assume that all characters in the word are in lower case.
Print True if the first and last letter of the word are the same, and False otherwise.
You should be able to do this using the concepts introduced in this week.

Conditional statements can be used.
They will be introduced in the next week.
But the challenge is to solve this problem without using conditional statements!
As an interesting exercise, can you list down some words that follow this pattern?

In [ ]:
n=input()
print(n[0]==n[-1])

kosij
False

Accept a positive integer,
x , as input from the user. Without using the * symbol anywhere in your code, print
10 * 𝑥, i.e. the product of the integer input and the number 10.

In [ ]:
n=input()
print(n+'0')

10
100

In [ ]:
a=1+4/2
print(a)
print(type(a))

3.0
<class 'float'>

In [ ]:
print(1>0 and -1<0 and 1==1)

True

In [ ]:
print(1+3/4**2*0)

1.0

In [ ]:
print(10**3+9**3)
print(12**3+1**3)

1729
1729

In [ ]:
e=bool
e
a=not e
not not e
print(a)

False

In [ ]:
e1=bool
e2=bool
e3=not(e1 or e2)
e4=(not e1 )and (not e2)
print(e3)
print(e4)
print(e3==e4)

False
False
True

In [ ]:
e1=bool
e2=bool
e1 and e2 and 1/0
print(e2)

ZeroDivisionError: division by zero

In [ ]:
print("a+'b'+c+''+d")

a+'b'+c+''+d

In [ ]:
print(1, 2, 3, 4, 5)

1 2 3 4 5

In [ ]:
print(not 0 and 10//5==2)

True

In [ ]:
a != True
print(a)

True

In [ ]:
10**2

100

1. Create any variable and assign some value and delete it.

In [ ]:
a=10
print(a)
del a
# print(a)

10

In [ ]:
print('it\'s a beautiful day')
print("we are from \"IIT Madras\" Madras")

it's a beautiful day
we are from "IIT Madras" Madras

In [ ]:
print('hi i\'m \t praveen')

hi i'm 	 praveen

In [ ]:
print("a for apple.\nb for banana.\nc for cat.\nd for dog")

a for apple.
b for banana.
c for cat.
d for dog

In [ ]:
# do the following operations

x="PytHON StRIng METhodS"

# convert the string in lower case
print(x.lower())

# convert the string in Upper case
print(x.upper())

# convert the first character to upper case
print(x.capitalize())

# convert first character of each word to upper case
print(x.title())

# swap the case of the string
print(x.swapcase())

python string methods
PYTHON STRING METHODS
Python string methods
Python String Methods
pYThon sTriNG metHODs

In [ ]:
x="      python       "

# remove all the white spaces in the string from both side

print(x.strip())

# remove all the white spaces in the string from right side

print(x.rstrip())


# remove all the white spaces in the string from left side
print(x.lstrip())

python
      python
python

In [ ]:
# check if all the  character in the string are digits
x="123"
y="abc123"
print(x.isdigit())
print(y.isdigit())

# check if all the character in the string are alphabets
a="abc"
b="123abc"
print(a.isalpha())
print(a.isalpha())


# check if all the characters are alpha-numeric
m="abc123"
n="ab@*#123"
print(m.isalnum())
print(n.isalnum())

True
False
True
True
True
False

In [ ]:
x=input()
# print true is all characters are lower case
print(x.islower())
# print True if all the characters are upper case
print(x.isupper())
# print True if the string follows the rules of title (all the words have starting letter in capital)
print(x.istitle())

iiii
True
False
False

In [ ]:
# print True if the input string starts with I and ends with N

x=input()

print(x.startswith('I' ),x.endswith('N'))

input
False False

In [ ]:
x="i am gokul and i live in sathyamangalam"

# print the number of times "a" is present in the string
print(x.count("a"))

7

In [ ]:
print("Python String Methods".index('o'))

4

In [ ]:
print("Python String Methods".index('0'))

ValueError: substring not found

In [ ]:
# replace all the occurence of 'py' with 'python' in the given string

x="python is a programming language. python is easy to learn.I love pykkara false"
print(x.replace('py','python'))

pythonthon is a programming language. pythonthon is easy to learn.I love pythonkkara false

In [ ]:
# predict the output

x="python is a programming  language. python is easy to learn.I love pykkara false"

print(x.index("python",10))
print(x.index("python",0,10))
# print(x.index("python",10,20))

35
0

In [ ]:
x="abcdefghijklmnopqrstuvwxyz"
i=8
print(x[i])
print(x[-i])
print(x[(i+26)%26])

i
s
i

write a python script for the below test case,
Note the input will be of 5 characters long,


testcase 1
'''
INPUT : 'gokul'
OUTPUT : 'hplvm'
'''

testcase 2
'''
INPUT: 'abcde'
OUTPUT: 'bcdef'
'''

In [ ]:
alphabets='abcdefghijklmnopqrstuvwxyz'

In [ ]:
inpu='abcde'
i=0
b=''
k=1
b=b+alphabets[alphabets.index(inpu[i])+k]
b=b+alphabets[alphabets.index(inpu[i+1])+k]
b=b+alphabets[alphabets.index(inpu[i+2])+k]
b=b+alphabets[alphabets.index(inpu[i+3])+k]
b=b+alphabets[alphabets.index(inpu[i+4])+k]
print(b)

bcdef

In [ ]:
s='gokul'
alphabets.index(s[0])

6

In [ ]:
a=15
print(a**0.5)

3.872983346207417

In [ ]:
a=int(input("num :"))
print(type(a))

b=a**0.5
print(type(b))

if(b**2==a):
  print(True)
else:
  print(False)

num :67
<class 'int'>
<class 'float'>
True

In [ ]:
67**0.5

8.18535277187245

In [ ]:
type(8.18535277187245**2)

float

In [ ]:
type(0.5)

float

In [ ]:
# int/str'abcd'/float 4.0

 write a python code , for the following test cases

 testcase 1
'''
INPUT: 'a'
OUTPUT: 1
'''

testcase 2
'''
INPUT:'b'
OUTPUT: 2
'''

 testcase 3
'''
INPUT:'y'
OUTPUT: 25
'''

In [ ]:
alphabets='abcdefghijklmnopqrstuvwxyz'
i=input()
alphabets.index(i)+1

y

25

write a python code where you will take an input number k and a string s.
 you have to move the string by k characters to the right

TestCase 1
'''
INPUT:
    s='abcdefg'
    k=2

OUTPUT: 'cdefghi`
'''

TestCase 2
'''
INPUT:
    s='chennai'
    k=20
OUTPUT:
    'wbyhhuc'
'''

In [ ]:
alphabets='abcdefghijklmnopqrstuvwxyz'
s='chennai'
k=20
i=0
b=''
b=b+alphabets[(alphabets.index(s[i])+k)%26]
b=b+alphabets[(alphabets.index(s[i+1])+k)%26]
b=b+alphabets[(alphabets.index(s[i+2])+k)%26]
b=b+alphabets[(alphabets.index(s[i+3])+k)%26]
b=b+alphabets[(alphabets.index(s[i+4])+k)%26]
b=b+alphabets[(alphabets.index(s[i+5])+k)%26]
b=b+alphabets[(alphabets.index(s[i+6])+k)%26]

print(b)

wbyhhuc

take year of birth (YOB) as input,
print the current age of the person and also print if the person is eligible to vote or not
HINT : subtract current year from YOB

In [ ]:
dob=int(input("Enter your dob: "))
curr_age=(2025-dob)
print("Your current age is",curr_age)
if curr_age >=18:
  print('you\'re eligible for vote')
else:
  print("You aren't eligible for vote")

Enter your dob: 2003
Your current age is 22
you're eligible for vote

find whether the given number is even or odd

In [ ]:
a=int(input("num :"))
if(a%2==0):
  print('even')
else:
  print("odd")

num :5
odd

find whether given no ends with 0 or 5 or any other number

In [ ]:
a=int(input("num :"))
if (a%5==0 and a%10==0):
  print(0)
elif(a%5==0):
  print(5)
else:
  print('other')

num :14
other

how to find the value of log(x) in
python, where x is a positive number,
 answer=2.30....

In [ ]:
import math
a=math.log(10)
print(a)

2.302585092994046

 find the sine value of x,
 where x=45, answer= 0.85....

In [ ]:
import math
x=45
print(math.sin(x))

0.8509035245341184

find square root of 10,
find which one is wrong

In [ ]:
z=10
a=z**0.5
print (a)
b=math.sqrt(z)
print(b)

3.1622776601683795
3.1622776601683795

In [ ]:
math.factorial(5)

120

 take x,y as input,
find   x to the power y

In [ ]:
x=10
y=2
math.pow(x,y)

100.0

print a random number
between 0 to 1 using
random library

In [ ]:
import random

In [ ]:
a=random.random()
a

0.7193481399369689

week 2 official questions

In [ ]:
a=1
print(type(a))
a=1.0
print(type(a))
a='1'
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
x,y,z=3,4,5
x,y,z=x**2,y**2,z**2
# 9+16==25 true
print(x+y==z)

True

In [ ]:
good_variable=10
a_=1
_a=2
1_a=10
is=10
bad variable=100

SyntaxError: invalid decimal literal (<ipython-input-4-7c082cce5e68>, line 4)

In [ ]:
x,y=1,2
print(x,y)
x,y=y,x
print(x,y)

1 2
2 1

In [ ]:
if True:
  print('first')
else:
  print('second')

first

In [ ]:
x=True
if x== True:
  print('works')

works

In [ ]:
x=True
if x:
  print('works')

works

In [ ]:
# find no which multiple of 10 and multiple of 5 and others
x=int(input())
if (x%10==0 and x%5==0):
  print("Multiple of 10 and 5")
elif(x%5==0):
  print('multiple of 5')
else:
  print('others')

10
Multiple of 10

In [ ]:
# find leap year or not
year=int(input())
if year % 400 == 0:
  print('Leap Year')
elif year % 4 == 0 and year % 100 !=0:
  print('Leap year')
else:
  print('Not Leap Year')

1900
Not Leap Year

In [ ]:
a=int(input("Print last number in wordings: "))
x=str(a)
print(x)
print(type(x))
print(x[-1])
if x[-1] == '0':
  print('zero')
elif x[-1]=='1':
  print('one')
elif x[-1]=='2':
  print('two')
elif x[-1]=='3':
  print('three')
elif x[-1]=='4':
  print('four')
elif x[-1]=='5':
  print('five')
elif x[-1]=='6':
  print('six')
elif x[-1]=='7':
  print('seven')
elif x[-1]=='8':
  print('eight')
else:
  print('nine')

Print last number in wordings: 7431
7431
<class 'str'>
1
one

In [ ]:
x='1234'
print(x[-1])

4

In [ ]:
#find equlateral,scalene,isoceles in triangle
a=int(input("side 1 length "))
b=int(input("side 2 length "))
c=int(input("side 3 length "))
if a==b==c:
  print("equilateral")
elif (a==b) or (b==c) or (c==a):
  print("isoceles")
else:
  print('scalene')

side 1 length 7
side 2 length 8
side 3 length 0
scalene

In [ ]:
a=int(input("side 1 length "))
b=int(input("side 2 length "))
c=int(input("side 3 length "))
# if a==b+c or b==a+c or c==a+b:
if (a+b-c==0) or (b+c-a==0) or (c+a-b==0):
  print("good triplet")
else:
  print("bad triplet")

side 1 length 3
side 2 length 1
side 3 length 1
bad triplet

In [ ]:
a=int(input("side 1 length "))
b=int(input("side 2 length "))
c=int(input("side 3 length "))
if(a+b<=c) or (b+c<=a) or(c+a<=b):
  print(False)
else:
  print(True)

side 1 length 2
side 2 length 3
side 3 length 2
True

In [ ]:
a,b,c,d=int(input()),int(input()),int(input()),int(input())
if(a<=b<=c<=d):
  print("ascending Order")
else:
  print("not in ascending order")

4
3
6
2
not in ascending order

In [ ]:
import calendar

In [ ]:
a=calendar.weekday(int(input("Year: ")),int(input("Month: ")),int(input("Day: ")))
if a==0:
  print('Monday')
elif a==1:
  print("Tuesday")
elif a==2:
  print('wednesday')
elif a==3:
  print('Thursday')
elif a==4:
  print('Friday')
elif a==5:
  print('Saturday')
else:
  print('Sunday')

Year: 1999
Month: 1
Day: 27
wednesday

Find sandwich numbers ex ; 123/853 (1st - 3rd no -- 2nd

In [ ]:
a=input()
first,second,last=int(a[0]),int(a[1]),int(a[2])
if abs(first-last)==second:
  print("sandwich")
else:
  print("not sandwich")

333
not sandwich

In [ ]:
msg="txt me when u receive this msg."
msg=msg.replace('txt','text')
msg=msg.replace('u','you')
msg=msg.replace('msg','message')
print(msg)

text me when you receive this message.

In [ ]:
a=input("give me a sentence: ")
print(a.count(' ')+1)

give me a sentence: this sentence is not true
5

In [ ]:
a=input("give me a paragraph: ")
print(a.count('.'))

give me a paragraph: this is a char. it is red in color.
2

In [ ]:
a=input("give me a phone no: ")
b=a.replace('O','0')
print(int(b))

give me a phone no: 85249O2324
8524902324

In [ ]:
a=3**100
b=str(a)
print(b.count('0'))

7

In [ ]:
lines = '''one
two
three
'''
print('\n' in lines)
print(lines.count('\n'))

True
3

In [ ]:
import math

In [ ]:
x=float(input())
sigmoid=1.0/(1+math.exp(-x))
print(sigmoid)

3
0.9525741268224334

In [ ]:
# diff between find and index
a='this is a trial'
print(a.find('iss'))
# print(a.index('iss'))

-1

In [ ]:
print(a.index('iss'))

ValueError: substring not found

In [ ]:
import random

In [ ]:
a='HT'
b=random.choice(a)
print(b)

T

In [ ]:
start,end=input(),input()
positions='ABCDEFGH'
start_hori,start_vert=positions.index(start[0]),int(start[1])
end_hori,end_vert=positions.index(end[0]),int(end[1])
if abs(start_hori-end_hori)== abs(start_vert-end_vert):
  print('yes')
else:
  print('no')

1
3

ValueError: substring not found

In [4]:
n=int(input())
if n!=0:
  if n%2==0:
    print("yes")
  else:
    print("no")
else:
  print("enter positive numbers")

5
no

In [6]:
results=input()
print("your results were",results)
no_of_matches=len(results)
print("no_of matches was",no_of_matches)
win_no=results.count('w')
print("No of victories",win_no)
if results.find('www') != -1:
  print("It has three winning streaks")
else:
  print("don't have three winnning streaks")

first_win=results.find('w')
if first_win == -1:
  print("Hasn't won a match")
else:
  print("first win at ",first_win+1)

wwwlw
your results were wwwlw
no_of matches was 5
No of victories 4
It has three winning streaks
It's first win was 0
first win at  1

In [14]:
alphabets='abcdefghijklmnopqrstuvwxyz'
i=0
k=1
print(alphabets[i+k])

b

In [17]:
name=input()
if name.isalpha():
  print("valid")
else:
  print("Invalid")

gdy%
Invalid

week 2 GA

In [18]:
a,b,c,d=input()

1234

In [20]:
print(b)

2

In [21]:
x=bool(False)

In [22]:
print(x)

False