<a href="https://colab.research.google.com/github/SPraveeen/python_google_colab_study/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#classes (like generic) blueprint, //ex: humans
#objects(like more specific) // ex: shivank

#class ->humans
#properties -> nose/hands/legs/stomach/backbone
#funtions/actions ->can walk(),can run(),can eat(), can dance()

#initializantion
#hand=2, leg=2

#to create
#class Human: //class
  # properties
  # methods
  # pass

#shivank = Human() //object

#like god everything in python is object

#oops and functional -> programming paradigms

In [ ]:
class person:
  pass

In [ ]:
p1=person()
p2=person()
p3=person()

In [ ]:
p1.name='Aaksash'
p1.age=20
p1.height=147.20

p2.name='shankar'
p2.age=30
p2.height=153.8

p3.name='Guru'
p3.age=45
p3.height = 132.7

print(p1.name,p2.name,p3.name,p3.height)

Aaksash shankar Guru 132.7

In [ ]:
class Male:
  age=0
  job='unemployed'

m1=Male()
m1.name='gobi'

print(m1.name)
print(m1.age)
print(m1.job)

gobi
0
unemployed

In [ ]:
class Box:
  length=0
  breadth=0
  height=0

In [ ]:
b1=Box()
b1.length=3
b1.breadth=4
b1.height=5
print("Volume = ",b1.length*b1.breadth*b1.height)

Volume =  60

In [ ]:
class Box:
  length=0
  breadth=0
  height=0

  def volume(self):
    return self.length * self.breadth * self.height

In [ ]:
b1=Box()
b1.length =4
b1.breadth =3
b1.height = 5

print(b1.volume())

60

In [ ]:
class circle:
  radius=0

  def find_area(self):
    return (3.14) * (self.radius) * (self.radius)

In [ ]:
c1=circle()
c1.radius=50
print(c1.find_area())

7850.0

In [ ]:
##__init__

##dunder method (starting 2 underscore and then keyword with eneding two underscore)

class box:
  length=0
  breadth=0
  height=0

  def __init__(self,length,breadth,height):
    self.length=length
    self.breadth=breadth
    self.height=height

  def volume(self):
    return self.length * self.breadth * self.height

In [ ]:
b1=box(4,5,6)
print(b1.volume())

120

In [ ]:
b2=box(4,4,4)
print(b2.volume())

64

In [ ]:
##class and instance variables
class student:
  name="Bipin"

  def __init__(self,name,age):
    self.name=name
    self.age=age

  def hello(self):
    print(f'Hello {self.name}')

bipin=student("Ayush",20)
bipin.hello()

Hello Ayush

In [ ]:
# Abstarction
# need to know how to drive a car, not neccerisly know what inside a engine

#encapsulation
#wrapping up the properties and their related methods together in a class

s1_name ="Rohan"
s1_marks=20

s2_name="Yash"
s2_marks=40

#this is not easy way of declaring and istakes can happen

In [ ]:
class student:
  name=''
  marks=0

  def __init__(self,name,marks):
    self.name=name
    self.marks=marks

rohan=student('Rohan',20)
yash=student('Yash',40)

In [ ]:
#polymorphism
#same entity but different behaviour
print(4+5) #here adding
print("Hello"+"World") #here concatinating

9
HelloWorld

In [ ]:
#inheritance
#car -> sedan/suv/hatchback
#car some similarities
#different cars different properties

**Class -2**


1.   ***`Encapsulation`***
2.   ***`Access Modifiers in python`***
3.   ***`getters and setters in py`***
4.   ***`inheritance`***
5.   ***`super()`***
6.   ***`method overriding`***
7.   ***`method resolution order in python`***
8.   ***`Dunder / Magic methods`***

In [ ]:
#dunder/magic methods
#__init__ {constrctor}
#__str__ {when we print object inside this will print} {to pr}
#__add__ {add two object value}
#__lt__ {to compare two methods}
class Employee:

  def __init__(self,name,age):
    self.name=name
    self.age=age

e1=Employee('Shankar',30)
print(e1.name,e1.age)

Shankar 30

In [ ]:
class Employee1:

  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.salary=salary

  def __str__(self):
    return f'{self.name}->{self.age}->{self.salary}'

  def __add__(self,other):
    return self.salary + other.salary

  def __lt__(self,other):
    return self.salary > other.salary

In [ ]:
Ashok =Employee1("Ashok",30,50000)
Prakash = Employee1("Prakash",28,70000)
print(Prakash)
print(Ashok)
print(Ashok+Prakash)
print(Ashok<Prakash)

Prakash->28->70000
Ashok->30->50000
120000
False

In [ ]:
#access modifiers
# public->can be access inside and outside class
# private->only accessible inside class

# to declare private give (__salary)
class Employee1:

  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.__salary=salary

  def __str__(self):
    return f'{self.name}->{self.age}->{self.salary}'

  def __add__(self,other):
    return self.salary + other.salary

  def __lt__(self,other):
    return self.salary > other.salary

e1=Employee1('ddd','dddd',4444)
e1.__salary

AttributeError: 'Employee1' object has no attribute '__salary'

In [ ]:
#to access private we use getters and setters through public can access private
#getter -> to access private
#setter -> to change values
class Employee1:

  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.__salary=salary

  def get_salary(self):
    return self.__salary

e1=Employee1('ddd','dddd',4444)
# e1.__salary
e1.get_salary()

4444

In [ ]:
class Employee1:

  def __init__(self,name,age,salary):
    self.name=name
    self.age=age
    self.__salary=salary

  def get_salary(self):
    return self.__salary

  def set_salary(self,salary):
    self.__salary=salary

e1=Employee1('ddd','dddd',4444)
# e1.__salary
print(e1.get_salary())
e1.set_salary(20000)
print(e1.get_salary())

4444
20000

In [ ]:
#inheritance
class Vehicle:
  wheels=4
  engine='xyz'
  typee='hatchback'

class car(Vehicle):
  pass

c1=car()
c1.wheels

4

In [ ]:
class vechicle:
  wheels=6
  def vehicle_info(self):
    print("Inside the class function")

class car1(vechicle):
  def car_info(self):
    print("Inside the car class")

c1=car1()
c1.vehicle_info()
c1.car_info()

Inside the class function
Inside the car class

In [ ]:
#multiple inheritance
class person:
  def person_info(self,name,age):
    print('Inside the person class')
    print(name,age)
class company:
  def compay_info(self,name,location):
    print('Inside the company class')
    print(name,location)
class employee(person,company):
  pass

e1=employee()
e1.compay_info('xyx','hyderabad')

Inside the company class
xyx hyderabad

In [ ]:
#multileve inheritance
# vehicle -> car ->sportscar

class vehicle:
  def vehicle_info():
    print('Inside the vehicle class')
class car(vehicle):
  pass
class sportscar(car):
  pass

In [ ]:
#heirarchial inheritance
# vehicle (car,truck)

class vechicle:
  def vehicle_info(self):
    print("Inside vehicle")

class car(vechicle):
  def car_info(self):
    print("inside car_info")

class truck(vechicle):
  def truck_info(self):
    print("inside truck_info")

t=truck()
t.vehicle_info()
c=car()
c.vehicle_info()

Inside vehicle
Inside vehicle

In [ ]:
#method_overriding with same method mname but want to access parent, use 'super()' keyword

class A:
  def __init__(self,a,b,c):
    self.a=a
    self.b=b
    self.c=c
class B(A):
  def __init__(self,d):
    self.d=d
b=B(10)
b.d

10

In [ ]:
class A:
  def __init__(self,a,b,c):
    self.a=a
    self.b=b
    self.c=c
class B(A):
  def __init__(self,d):
    self.d=d
b=B(10)
b.a

AttributeError: 'B' object has no attribute 'a'

In [ ]:
#to use parent class
class A:
  def __init__(self,a,b,c):
    self.a=a
    self.b=b
    self.c=c
class B(A):
  def __init__(self,a,b,c,d):
    super().__init__(a,b,c)
    self.d=d
b=B(10,20,30,40)
b.b

20